/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Styles */
header {
    position: relative;
    width: 100%;
    height: 90vh; /* Full viewport height */
    background: url('images/Fantasy.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

header .overlay {
    background-color: rgba(0, 0, 0, 0.122); /* Dark overlay */
    padding: 20px;
    border-radius: 10px;
}

header h1 {
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}

header p {
    font-size: 24px;
    margin-top: 10px;
    font-weight: 300;
}

/* Down Arrow Styles */
.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    margin-top: 30px;
    position: absolute;
    bottom: 20px;
}

/* Navigation Styles */
nav {
    background: #000000;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    color: #f4f4f4;
}

/* Section Styles */
section {
    margin: 20px 0;
}

section h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.project {
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    border-left: 5px solid #0779e4;
}

.project h3 {
    margin: 0;
}

/* Contact Styles */
#contact ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#contact ul li {
    margin-bottom: 10px;
}

#contact ul li a {
    color: #0779e4;
    text-decoration: none;
}

#contact ul li a:hover {
    color: #333;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    margin: 0;
}
