* {
    font-family: 'Times New Roman', Times, serif;
}
.door{
    /*-webkit-animation: example 1.2s ease-out 1; /* Safari */
    animation: example 1.2s ease-in-out 1; animation-fill-mode: forwards;  
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    background-color: #f2f2f2;
    display: hidden;
}
.door:nth-child(2)
{
    animation: example2 1.2s ease-in-out 1; animation-fill-mode: forwards; animation-delay: 1.2s;
    background-color: #ddd;
    z-index: 200;
}
.content {
    max-width: 960px;
    margin: 0 auto;
    border-left: 2px #ddd solid;
}
.profile {
    width: 40vh;
    height: 40vh;
    max-height: 100vw;
    max-width: 100vw;
    margin: auto;
    display: block;
    border-radius: 50%;
}
.name {
    float: right;
    writing-mode: vertical-rl;
    font-size: 55px;
    border-left: solid 1px #ddd;
    color: rgb(64, 64, 64);
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /*disable horizontal scroll on mobile web (The gears make the page go wide)*/
    width: 100vw;
    font-size: 19px;
}
body {
    position: relative;/*disable horizontal scroll on mobile web. (The gears make the page go wide)*/
    background-color: #f2f2f2;
}
a{
    color: rgb(0, 80, 126);
}
.indent{
    display: block;
    margin-left: 2vw;
    margin-block-start: 0px; margin-block-end: 0px;
}
.left-bar {
    position: absolute;
    top: 60px;
    height: 100vh;
    width: 400px;
    background-color: #f2f2f2;
}
.left-bar * {
    position: relative;
    width: 100%;
    height: 200px;
    border-bottom: 2px solid #ddd;
}
.gear-container {
    position: relative;
    display: block;
    width: 100%;
}
.gear-container .gear {
    position: absolute;
    z-index: -10;
}
.gear {
    transform-origin: middle;
    -webkit-filter: drop-shadow( 0px 0px 50px rgba(0, 0, 0, 0.15));
    filter: drop-shadow( 0px 0px 50px rgba(0, 0, 0, 0.15));
    width: 500px;
    animation-name: Anim-Rotate; animation-timing-function: linear; animation-duration: 15s; animation-iteration-count: infinite;
}
.about{
    margin-left: 5vw;
    margin-right: 5vw;
}
nav {
    width: 100%; height: 60px;
    margin: 0px auto;
    display: flex; justify-content: flex-end; align-items: flex-end;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 100;
}
nav a {
    text-align: center;
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-size: 22px;
}
nav span {
    height: 100%;
    padding-right: 0.5em; padding-left: 0.5em;
    display: flex; justify-content: center; align-items: center;
    background-color: #f2f2f2;
}
nav span:hover {
    background-color: #ddd;
}
.hamburger {
    visibility: hidden;
}
.grid-container *, .grid-container{
    -webkit-animation: Anim-Spawn-From-Top 1.2s ease-out 1; /* Safari */
    animation: Anim-Spawn-From-Top 1.2s ease-out 1;
}
.grid-container {
    display: flex; justify-content: center; flex-wrap: wrap;
    text-align: center;
}
.grid-container p {
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-top: solid #ddd 2px;
}
.grid-container>* {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color: #f2f2f2;
}
.skills.grid-container img {
    width: 100px; height: 100px;
    margin: 10px;
    flex: 1 1 auto;
}
.portfolio-container img {
    width: 100%;
}
.portfolio-container {
    display: flex; flex-direction: column; justify-content: center; flex-wrap: wrap;
    border-left: unset;
}
.portfolio-container p{
    margin-block-start: 0px; margin-block-end: 0px;
    margin-left: 1vw; margin-right: 1vw;
}
.portfolio-container ul{
    padding-left: 25px;
    list-style-type:disc;
}
.portfolio-item {
    width: 100%; max-width: 600px; height: 100%;
    padding: 0px;
    /*overflow-y: scroll;*/
    background-color: #fafafa;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.10), 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.10);
    border-radius: 5px;
}
.portfolio-container h1:first-of-type {
    top: 0px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10; /* Make shadow appear over images */
    margin: 0px auto !important;
    color: rgb(65, 65, 65); background-color: #fafafa;
    border-bottom: unset;
    height: 70px;
    display: flex; align-items: center; justify-content: center;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.07), 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.07);
}
.portfolio-container h1{
    margin: 0px auto !important;
    text-align: center;
}
.github-content{
    width: 100%;
    display: flex; flex-direction: row;
    margin-top: 50px; margin-bottom: 50px;
}
.github-link:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.github-link *, .github-link{
    padding: 0px !important;
    border: unset;
}
.github-link img{
    height: 62px;
}
.tags{
    overflow-x: visible;
    width: 150px;
    float: left;
}
.tags > *{
    border-radius: 5px;
    margin-right: 10px; margin-bottom: 5px;
    font-size: 22px;
    padding: 20px;
    text-align: center;
    background-color:#f2f2f2;
    color: rgb(64, 64, 64);
    border: 2px solid #ddd;
}

h1 {
    text-align: left;
    font-size: 40px;
    font-weight: 1;
    color: rgb(65, 65, 65);
    border-bottom: 2px solid #ddd;
    margin-left: 3vw; margin-top: 5vw;
    overflow-wrap: break-word;
}
h2 {
    overflow-wrap: break-word;
    text-align: center;
    font-size: 40px;
    font-weight: 1;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 21px;
}
#loader {
    border: 16px solid #ddd;
    border-radius: 50%;
    border-top: 16px solid #fff;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: Anim-Rotate 2s linear infinite;
    margin: auto;
}
.drop-down{
    display: block !important;
}
.drop-down .hamburger{
    margin-right: 0px !important;
}
.drop-down a{
    vertical-align: middle;
    margin: auto;
    font-size: 22px !important;
}

@keyframes Anim-Spawn-From-Top {
    0% {
        opacity: 0.5;
        transform: translate(0px, -90px);
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes Anim-Rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes example {
    0% {
        visibility: visible;
        left: 0px;
    }
    100% {
        visibility: hidden;
        left: 100vw;
    }
}
@media (max-width:1900px) {
    .left-bar {
        width: 0px;
    }
}
@keyframes example2 {
    0% {
        visibility: visible;
        right: 0px;
    }
    100% {
        visibility: hidden;
        right: 100vw;
    }
}
@media (max-width:1900px) {
    .left-bar {
        width: 0px;
    }
}
@media (max-width:750px) {
    .name {
        writing-mode: horizontal-tb;
        display: block;
        border-bottom: solid 1px #ddd;
        border-left: unset;
        font-size: 30px;
        float: none;
        text-align: center;
    }
    h1, h2{
        font-size: 30px !important;
    }
    html, body{
        font-size: 15px !important;
    }
    .github-content{
        flex-direction: column;
    }
    .tags{
        width: unset;
        display: flex;
        flex-direction: row;
    }
}
@media (max-width:400px) {
    nav * {
        font-size: 0px !important;
        padding: 0px;
    }
    nav {
        padding: 0px;
        padding-right: 0px;
        margin-right: 10px;
    }
    .hamburger {
        margin-right: 15px;
        visibility: visible;
    }
}